@import "../../styles/variables";
@import "../../styles/screensize";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .inner_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 50px 00px;
    align-content: center;
    justify-items: center;
    h2 {
      font-weight: 800;
      font-size: larger;
    }
    .list_item {
      display: flex;
      justify-content: space-between;
      background-color: $backgroundColor;
      padding: 0 20px;
    }
  }
}
