@import "../../styles/screensize";
@import "../../styles/variables";

.dialog {
  position: absolute;
  bottom: 80px;
  left: 35px;
  width: fit-content;
  height: fit-content;
  background-color: $cardColor;
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  // @include smallLaptopSS {
  //   left: -270px;
  // }
}
