@import "../../styles/variables";

.rateContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #777;
  font-family: "Manrope", sans-serif;

  & > .period {
    font-size: 13px;
  }

  & > .rate {
    color: $companyGreen;
  }

  & > .rate.red {
    color: $primaryRed;
  }
}

.rateContainer.small {
  font-size: 12px;

  & > .period {
    font-size: 12px;
  }
}
