@import "../../styles//variables";
@import "../../styles/screensize";

.button {
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: $primaryColor;
  transition: opacity 0.5s linear;

  &:hover {
    opacity: 0.7;
  }

  p {
    text-align: center;
    font-size: 16px;
    font-weight: 300px;
    color: $cardColor;
  }

  @include mobileSS {
    height: 30px;

    & p {
      font-size: 13px;
    }
  }
}
