@mixin listItem {
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  &:hover {
    background-color: $background1;
    color: $primaryColor;
  }
}

@mixin cardBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  &:hover > p {
    color: $fontColor;
    cursor: pointer;
  }
  @include tabletSS {
    margin-left: 0;
    padding-left: 0;
  }
  .btn {
    color: #fff;
    padding: 10px 0px;
    font-size: large;
    font-weight: 600;
    margin-top: 50px 0;
    line-height: 20px;
    @include tabletSS {
      font-size: small;
      padding: 10px 0px;
      margin-top: 20px 0;
    }
  }
  .btnArrow {
    margin-top: 5px;
    margin-left: 15px;
    color: #fff;
  }
}
