.container {
  display: flex;
  align-items: center;
  gap: 0px;
  & > img {
    border-radius: 50%;
    border: 2px solid #aaa;
    height: 25px;
    width: 25px;
  }

  & > img:not(:first-child) {
    margin-left: -18px;
  }

  & .count {
    font-size: 12px;
    color: green;
    margin-left: -6px;
  }
}
