@import "../../styles/screensize";
@import "../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 150px;
  padding: 1.5rem;
  justify-content: space-between;
  border-radius: 1rem;
  border: 1px solid $primaryBlue;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  font-family: 'Manrope', sans-serif;

  & > .top,
  .bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  & .accountName {
    font-weight: 500;
    color: #000;
  }

  & .balance {
    font-size: 20px;
    color: #000;
    font-weight: 700;
    letter-spacing: 1.2px;

    @include largeSS {
        font-size: 18px;
        letter-spacing: 0px;
    }

    @include mobileSS {
        font-size: 20px;
        letter-spacing: 1.1px;
    }
  }
  & .pending {
    font-size: 20px;
    color: orange;
    font-weight: 700;
    letter-spacing: 1.2px;

    @include largeSS {
        font-size: 18px;
        letter-spacing: 0px;
    }

    @include mobileSS {
        font-size: 20px;
        letter-spacing: 1.1px;
    }
  }

  & .profileImg {
    border-radius: 50%;
    border: 2px solid #aaa;
  }
  
}
