@import "../../styles//variables";
@import "../../styles//screensize";

.login {
  height: 100vh;
  // background-color: rgb(88, 179, 123);
  @include tabletSS {
  }
  .container {
    // height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    // background-color: rgb(179, 88, 88);
    @include tabletSS {
    }

    .contentForm {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      padding: 20px;
      background-color: $cardColor;
      width: 30%;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      // height: 40%;
      outline: solid 0.1px rgb(158, 164, 157);
      @include tabletSS {
        padding: 0px 10px;
        margin-top: 20px;
        margin-bottom: 50px;
        width: 85%;
      }
      .topText {
        width: 90%;
        height: 100%;
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
        // background-color: aqua;
        h2 {
          font-size: larger;
          // font-weight: 700;
          @include tabletSS {
            margin-top: 0px;
          }
        }
        img {
          height: 25px;
          // width: 30px;
          cursor: pointer;
        }
      }
      h2 {
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 3rem;
        @include tabletSS {
          margin-top: 40px;
          margin-bottom: 20px;
          font-size: 22px;
        }
      }

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          // margin-left: 20px;
          text-decoration: underline;
          cursor: pointer;
          font-size: 13.5px;
          color: $fontColor;
          margin-bottom: 20px;
        }
      }
    }
  }
}
